{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script> <!-- Axios -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> <!-- Vue -->
    <script defer src="{% static 'students/main.js' %}"></script>
</head>
<body>
    <div id="app">
        <div v-for="student in studentList">
            <h3>[[ student.last_name ]], [[ student.first_name]]</h3>
            <p>[[ student.cohort ]]</p>
            <a src="">[[ student.capstone ]]</a>
            <hr>
        </div>
    </div>
</body>
</html>