{% extends 'anthonytodo/base.html' %}

{% block title %}
To Do List Django Lab
{% endblock %}

{% block content %}
    <h1>Welcome to Lab 2: Django To Do List</h1>

    <form action="{% url 'save_url' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Submit</button>
    </form>
    
    <!-- 'objects' comes from the key in our context dictionary -->
    <table>
        <tr>
            <thead>
                <th>Text</th>
                <th>Date</th>
            </thead>
        </tr>
        {% for url in objects %}
        <tr>
            <td>{{ url.counter }}</td>
            <td>{{ url.code }}</td>
            <td>{{ url.url }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}