:root {
    --Black: #191919;
    --Red: #E63946;
    --White: #F1FAEE;
    --Purple: #74226C;
    --Blue: #457B9D;
    
}
*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: var(--White);
}


body {
    width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 190px auto 190px;
    grid-template-rows: 80px auto 00px;
    background: var(--Black);
    max-height: 100vh;
}

header {
    border-bottom: 2px solid var(--White);
    grid-column: 2;
    text-align: center;
}

.left {
    border-right: 2px solid var(--White);
    grid-row: 1 / -1;
    text-align: center;
}

.left div {
    display: flex;
    flex-direction: column;
    padding: 1rem 
}

.right {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    border-left: 2px solid var(--White);
    grid-row: 4 / -4;
    text-align: center;
}

main {
    grid-column: 2;
    grid-row: 2;
    max-height: 90vh;
    overflow:scroll;
}

.blogpost {
    margin: 30px;
    padding: 5px;
    border: 2px solid var(--White);
    border-radius: 8px;;
    color:#A89B9D;
}

footer {
    display: flex;
    justify-content: center;
    border-top: 2px solid var(--White);
    grid-column: 1 / 4;
}

.button {
    margin: 10px;
    text-align: center;
    color: var(--White);
    text-decoration: none;
}

.button:hover {
    color: var(--Purple);
    text-decoration: underline;
    font-weight: bold;

}
