<nav class="navbar fixed-bottom bg-light">
    <div class="container-fluid con justify-content-center">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">Privacy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">Terms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">Security</a>
            </li>
        </ul>

        <p class="nav justify-content-center">
            <!-- styling inlinie text small em -->
            <em>&copy; Incidousflow Inc. All Rights Reserved</em>
        </p>


    </div>

</nav>