{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}HomePage{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'rot_ciph/style.css' %}">
</head>
<body>
    
<div class="wrapper">
    {% block content %}
    {% endblock %}
</div>

</body>
<footer>
    {% block footer %}
      &COPY; Victor Quiles 2022
    {% endblock %}
</footer>
</html>