body{
  background-color:aliceblue;
}

.container{
  display: flex;
  justify-content: center;
}

/* checked box and inputed text display on same line */
#checkedId, #todoparagraph {
  display: inline-block;
  font-size: 2rem;
}

#todoContainer{
  justify-content: center;
  line-height: 0px;
}