body {
    background: url(https://images.pexels.com/photos/3374210/pexels-photo-3374210.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: stretch;
    background-repeat: no-repeat;
    background-position: fixed;
}