<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unit Converter</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>
<body class='container'>
    <header>
        <h1>Welcome to the Meter Unit converter!</h1>
    </header>
    <main>
        <h2>Please enter the value and unit that you would like to convert to meters.</h2>
        <form action="/results" method="POST">
            <textarea name="Value" placeholder="Enter Value"></textarea>
            <select name="Unit">
                <option value="ft">Feet</option>
                <option value="mi">Miles</option>
                <option value="km">Kilometers</option>
                <option value="yd">Yard</option>
                <option value="in">Inches</option>
            </select>
            <br>
            <button type="submit">Convert to Meter</button>
        </form>
    </main>

    <footer>
        {% if result%}
        {{ value }} {{ unit }} is {{ result }} Meters
        {% endif %}
    </footer>
</body>
</html>