{% extends 'unit_converter/base.html' %}

{% block title %}
{% endblock %}

{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <label> 
        Input distance:
        <input type="number" name="distance" required min="0" step".1">
    </label>
    <label>
        Input unit:
        <select name="unit">
            <option value="ft">Feet</option>
            <option value="mi">Feet</option>
            <option value="km">Feet</option>
            <option value="yd">Feet</option>
            <option value="in">Feet</option>
        </select>
    </label>
    <button type="submit">Convert</button>
</form>
        
<p>result: {{result}}</p>
{% endblock %}