{% extends 'base.html' %}

{% block title %}
Blog - {{ request.user.username }}
{% endblock %}


{% block content %}
<h1>Welcome {{ request.user.username }}</h1>

{% for post in posts %}
<h2>{{post.title}}</h2>
{% comment %} For assignement we don't need theses {% endcomment %}
{% comment %} {% comment %} <p>{{post.body}}</p>
<p>{{post.user.username}}</p> {% endcomment %}
{% comment %} <p>{{post.edited_date}}</p> {% endcomment %}
<a href="{% url 'edit' post.id %}">Edit</a>
<hr>
{% endfor %}
<a href="{% url 'create' %}">Create A New Post</a>
{% endblock %}