{% extends 'lab_redo/base.html' %}

{% block title %}
Password Generator
{% endblock %}

{% block content %}
<h1>Password Generator</h1>
<form action="" method="POST">
    {% csrf_token %}
    <label>
        Password Length:
        <input name="user_input" type="number" placeholder="Minimum 8 characters" min="8" required>
        <button type="submit">Generate Password</button>
    </label>
</form>

{% if not error%}
<p>{{password}}</p>
{% else %}
<p style="color: blue">{{error}}</p>
{% endif %}

{% endblock %}