{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  Sign Up Page 
{% endblock title %}


{% block content %}
  <form action="" method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend>Create your Account: </legend>
      {{ form|crispy }} <br>
      <div>
        <button class="btn btn-secondary" type="submit">Sign Up</button>
      </div>
    </fieldset>
    <small>
      <p>Already have an account? <a href="#">login</a></p>
    </small>
  </form>
{% endblock %}