.red {
  color: red;
}

.large-text {
  font-size: 32px;
}

.bg-green {
  background: green;
}

#blue {
  color: blue;
}

p {
  font-size: 24px;
  color: orange;
  font-family: 'Rubik Microbe', cursive;
}

.top {
  background-color: cornflowerblue;
  margin: 20px;
  border: 2px solid yellow;
  width: 50vw;
}

.bottom {
  background-color: cornflowerblue;
  padding: 20px;
  border: 2px dashed yellow;
}