* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width:1200px;
    margin:auto;
    grid-template-columns: auto;
    background-color: #eceff1;
    min-height: 100vh;
}

/* header */
.header{
    height: 0px;
}
.header img {
    float: left;
    height: 80px;
    margin: 20px;
}
/* nav bar */
.sub_navbar {
    display:flex;
    justify-content: flex-end;
    justify-content: space-;
    padding: 1rem;
    gap: 1rem;
    font-size: 1rem;
}
.main_navbar {
    display:flex;
    justify-content: flex-end;
    padding: 1rem;
    gap: 1.25rem;
    font-size: 1.25rem;
}

/* landing */
.landing {
    position: relative;
    width: 100vh;
    color:#fafafa;
}
.landing h1 {
    font-size: 60px;
    text-shadow: 0px 0px 7px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%)
}
.landing img {
    width: screen;
}

.promo_banner{
    background-color: rgb(81, 81, 155);
    padding: 2rem;
    text-align: center;
}

/* Products */
.product_grid {
    display: flex;
}

.product_left {
    text-align: center;
    grid-column: 1;
    grid-row: 1;
    width: 50%;
    background-color: red;
}
.product_right{
    text-align: center;
    grid-column: 2;
    grid-row: 1;
    width: 50%;
    background: blue;
}
.product_bottom{
    position: relative;
    width: 100vh;
    color:#fafafa;
}
.product_bottom h2 {
    position: absolute;
    top:20%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    font-size: 3rem;
    text-shadow: 0px 0px 5px black;
}
.product_bottom p {
    position: absolute;
    top:40%;
    left: 20%;
    transform: translate(-50% -50%);
    text-align: center;
    font-size: 2rem;
    text-shadow: 0px 0px 5px black;
}
.product_bottom img {
    width: screen;
    filter: brightness(80%);
}

.product_bottom a {
    position: absolute;
    top: 60%;
    left: 41%;
    transform: translate(-50% -50%);
}

/* Footer */
.footer {
    position: relative;
    width: 100vh;
    color:#fafafa;
}
.footer h1 {
    font-size: 60px;
    text-shadow: 0px 0px 5px black;
    position: absolute;
    top: 50%;
    left: 50%;
}
.footer img {
    width: screen;
}

.sub_footer {
    text-align: center;    
    color:black;
}

/* Learn More button */
.learn_more {
    padding: 10px;
    border: #fafafa solid 3px;
    border-radius: 30px;
    
    font-size: 2rem;
    color: #fafafa;
    text-decoration: none;
    text-shadow: 0px 0px 5px black;
}

.learn_more:hover {
    background-color: #fafafa;
    color: black;
    text-shadow: none;
}